@import '/src/app/variables.scss';
.ranger {
  width: 100%;


  h1{
    text-align: center;
    color: $white-color;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: $mobile_size) {
  .ranger {
    width: 50%;
    margin: auto;
  }
  h1 {
    font-size: 20px;
  }
}
