.container {
  max-width: 1200px;
  display: block;
  margin: auto;

  .actions {
    margin: 5em auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .selects {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      width: 100%;
    }

    .ranger {
      width: 100%;
      margin: 0 10px;
      h1{
        text-align: center;
      }

      input {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
