<div class="container">
<div class="actions">
  <div class="selects">
    <app-select [currentOption]="filter.rover" [label]="'Choose Rover'" [options]="rovers" (newOptionEvent)="changeRover($event)"></app-select>
    <app-select [currentOption]="filter.camera" [label]="'Choose Camera'" [options]="cameras" (newOptionEvent)="changeCamera($event)"></app-select>
  </div>
 <app-range [currentSol]="currentSol" (newSolEvent)="changeSol($event)"></app-range>
</div>
<div *ngIf="data$ | async as response">
<app-images [photos]="response.photos"></app-images>
</div>
<div #elseBlock>
  not found
</div>
</div>
