@import '/src/app/variables.scss';
.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto 20px;

  .actions {
    margin: 25px auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    app-range,
    app-images {
      display: block;
      width: 100%;
    }

    .selects {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      width: 100%;
    }

  }

  .result {

    min-height: 350px;
    padding: 25px;
    border-radius: 5px;
    background-color: #000000b3;

    button {
      display: block;
      margin: 10px auto;
    }
  }

}
@media only screen and (max-width: $mobile_size) {
  .container {
    .result {
      padding: 5px;
    }
    .actions{
      .selects{
        display: grid;
        grid-template-columns: 50% 50%;
        app-select{
        }
      }
    }
  }
}

