@import '/src/app/variables.scss';

.images {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  div {
    cursor: pointer;
    margin: 10px;

    img {
      width: 100%;
      border-radius: 5%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.05, 1.05);
      }
    }
  }

}

@media only screen and (max-width: $tablet_size) {
  .images {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media only screen and (max-width: $mobile_size) {
  .images {
    grid-template-columns: 50% 50%;
  }
}
